body {
  padding: 0px;
  margin: 0px;
  font-size: 13px;
  background-color: #fafafa;
}
.wellcome {
  background-image: url(images/banner.jpg);
	background-size: 100% 100%;
    height: 1000px;
}

.wellcome .menu {
  display: flex;
  justify-content: space-around;
  padding: 28px 250px;
  align-items: center;
}

.wellcome .menu .menu-left ul {
  display: flex;
}
.wellcome .menu .menu-left li {
  list-style: none;
  margin: 0 15px;
}

.wellcome .menu .menu-log {
  width: 160px;
}
.wellcome .menu .menu-log img {
  width: 100%;
  vertical-align: middle;
}

.wellcome .menu .menu-right ul {
  display: flex;
  align-items: center;
}
.wellcome .menu .menu-right li {
  list-style: none;
  margin: 0 15px;
}
.wellcome .menu .menu-right .cart {
  position: relative;
}
.wellcome .menu .menu-right .cart .items-number {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #754b4b;
  color: #fff;
  left: 17px;
  top: -6px;
}
.wellcome .menu .menu-right .cart .items-number span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.wellcome .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.wellcome .content p {
  text-align: center;
}
.wellcome .content input {
  padding: 13px 26px;
  border: 2px solid #000;
  margin-top: 12px;
}
.wellcome .content input:hover {
  background-color: #c68d76;
  color: #fff;
  border: none;
}

.h3-title {
  color: #c68d76;
}
.p-content {
  font-size: 18px;
}
.h1-content {
  font-weight: 300;
}
.service {
  display: flex;
  padding: 100px 0px;
  justify-content: center;
}
.service .container {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}
.service .service-left {
  margin-right: 32px;
}
.service .service-left .image-content {
  margin-top: 100px;
  background-color: #fff;
}
.service .service-left .image-name {
  padding: 20px;
  padding-right: 42px;
  text-align: right;
}

.service .service-right .image-content {
  background-color: #fff;
}
.service .service-right .image-name {
  padding: 20px;
  padding-right: 42px;
  text-align: right;
}

.container {
  width: 60%;
}

.masterclass {
  background-image: url("images/marketing-plan.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}
.masterclass .content {
  margin-left: 50px;
}
.masterclass .content input {
  padding: 13px 26px;
  border: 2px solid #000;
  margin-top: 12px;
}
.masterclass .content input:hover {
  background-color: #c68d76;
  color: #fff;
  border: none;
}

.feature {
  display: flex;
  justify-content: center;
}
.feature .container .content {
  padding: 110px 0px 0px 50px;
  display: flex;
  justify-content: center;
}

.feature .content .content-left input {
  padding: 13px 26px;
  border: 2px solid #000;
  margin-top: 12px;
}
.feature .content .content-left input:hover {
  background-color: #c68d76;
  color: #fff;
  border: none;
}
.feature .content .content-left {
  background-color: #fff;
  display: flex;
  width: 50%;
  padding-left: 70px;
  flex-direction: column;
  justify-content: center;
}
.feature .content .content-left .h1-content {
  margin: 40px 0;
}
.feature .content .content-right {
  width: 50%;
}
.feature .content .content-right img {
  width: 100%;
}
.follow-me {
  display: flex;
  justify-content: center;
  padding-left: 70px;
  margin-bottom: 100px;
}
.follow-me .instagram {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: center;
  padding-left: 70px;
  background-color:#B58C73;
  color: #fff;
  padding-top: 30px;
}
.footer .information {
  display: flex;
  justify-content: space-between;
}
.footer .information .social .icon {
  display: flex;
  padding: 0px;
}

.footer .information .social .icon li {
  list-style: none;
  font-size: 20px;
  border: 1px solid #333030;
  border-radius: 50%;
  background-color: #fff;
  color: #333030;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 0px 2px;
}

.footer .information .h3-title {
  color: #fff;
  font-weight: 300;
}
.footer .information p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 50;
}
.footer-menu {
  padding: 0;
  margin: 0;
}
.footer-menu a{
 	color:#442009;
	font-size: 14px;
}
.footer-menu a:hover{
 	color:#fff;
}
.footer-menu li {
  list-style: none;
  padding: 2px 0px;
  
}

.line {
  margin: 50px 0px;
}
.coppy-right {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
}
.coppy-right a {
  color:#442009
}
.coppy-right a:hover{
 	color:#fff;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	color: #c68d76;
}